# Python (optional tooling / scripts)
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/
venv/
env/
.pytest_cache/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Flutter / Dart / Pub
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication / obfuscation
app.*.symbols
app.*.map.json

# Android
/android/app/debug/
/android/app/profile/
/android/app/release/
**/android/local.properties
**/android/.gradle/

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / IDE
*.iml
*.ipr
*.iws
.idea/
# .vscode/

# OS
Thumbs.db

# Secrets / env
.env
.env.*
*.pem
*.key
*.crt
secrets*.json
